$red: #e63946;
$white: #f1faee;
$light-blue: #a8dadc;
$blue: #457b9d;
$dark-blue: #1d3557;



@mixin icon-before {
    padding: 0 1rem;
    margin-top: 0.2rem;;
}

@mixin absolute-flex-transparent {
  position: absolute;
  display: flex;
  background-color: rgba(0,0,0,0.01);
}
