html, .no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
html, .scroll {
  overflow: hidden visible;
}


body {
  overflow: hidden;
  @media (max-width: 1200px) {
    overflow-x: hidden;
    overflow-y: visible;
  }
}


