.body-contact {
  overflow: hidden;
  @media (max-width: 1000px) {
    overflow-x: visible;
    overflow-y: hidden;
  }
}
.body-offer {
  overflow: hidden;
  @media (max-width: 1000px) {
    overflow-x: visible;
    overflow-y: hidden;
  }
}

.body-index {
  overflow: hidden;
  @media (max-width: 1000px) {
    position: fixed;
  }
}

