.body-index {
  overflow: hidden;
  @media (max-width: 1000px) {
    position: fixed;
  }
}

.body-offer {
    overflow-y: visible;
    overflow-x: hidden;
  }

.body-contact {
    overflow-y: visible;
    overflow-x: hidden;
  }
