.header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  background-color: rgba(0,0,0,0.0);
  width: 100%;
  max-width: 100%;
  z-index: 1;
  @media (max-width: 1200px) {
    display: flex;
    background-color: $white;
    height: 5rem;
  }
}
