.main-page-offer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  @media (max-width: 1200px) {
    grid-template-rows: 55vh 55vh 55vh;
  }
}

.main-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.main-page-index {
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
}
