.nav--hidden {
  display: none;
}    



.nav {
  position: relative;
  grid-columns: 2 / 3;
  display: flex;
  justify-content: space-around;
  background-color: $white;
  font-size: 2rem;
  margin-top: 0.3rem;
  .nav__link {
    text-decoration: none;
    color: $dark-blue;
    padding: 0.5rem 1.1rem;
  }
}
