.nav {
  position: relative;
  grid-columns: 3 / 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $white;
  border-radius: 0 0 10rem 10rem;
  font-size: 2.5rem;
  padding: 1.3rem;
  .nav__link {
    text-decoration: none;
    color: $dark-blue;
    padding: 0.5rem 1.1rem;
  }
}

.nav--hidden {
}    



