.article-pregnancy {
  filter: brightness(50%);
  background-image: url('../img/pregnancy-carousel.jpg'); 
  @include background-offer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  grid-row: 1 / 2;
  @media (max-width: 1200px) {
    grid-template-rows: 40% 25% 40%;
  }
  @media (max-width: 800px) {
    grid-template-rows: 40% 15% 40%;
  }
  @media (max-width: 550px) {
    grid-template-rows: 40% 25% 40%;
  }
  &:hover {
  filter: brightness(100%);
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @media (max-width: 1200px) {
    transform: none;
  }
}

}
.article-birth {
  filter: brightness(50%);
  background-image: url('../img/birth-carousel.jpg');
  @include background-offer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  grid-row: 2 / 3;
  @media (max-width: 1200px) {
    grid-template-rows: 40% 25% 40%;
  }
  @media (max-width: 800px) {
    grid-template-rows: 40% 15% 40%;
  }
  @media (max-width: 550px) {
    grid-template-rows: 40% 25% 40%;
  }
  &:hover {
    
  
  filter: brightness(100%);
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @media (max-width: 1200px) {
    transform: none;
  }
}
}
.article-baby {
  background-image: url('../img/baby-carousel.jpg');
  filter: brightness(50%);
  @include background-offer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  grid-row: 3 / 4;
  @media (max-width: 1200px) {
  grid-template-rows: 40% 25% 40%;
  }
  @media (max-width: 800px) {
    grid-template-rows: 40% 15% 40%;
  }
  @media (max-width: 550px) {
    grid-template-rows: 40% 25% 40%;
  }
  &:hover {
  filter: brightness(100%);
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @media (max-width: 1200px) {
    transform: none;
  }
}
}

.article__container-text {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: $white;
  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: 800px) {
    grid-column: 1 / 4;
  }
}

.article__h2 {
  width: 100%;
  font-size: 3rem;
}

.article__p {
  width: 100%;
  font-size: 2rem;
}

.main__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 6fr 1fr;
  width: 65%;
  height: 100vh;
  color: $white;
  background-color: $dark-blue;
  @media (max-width: 1200px) {
    width: 55%;
  }
  @media (max-width: 1060px) {
    width: 100%;
    height: auto;
    grid-template-rows: 20% 50% 10%;
  }
}

.contact-pres {
  grid-row: 2 / 3;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
}

.article-contact__h2 {
  width: 100%;
  position: relative;
  left: 2rem;
}

.article-contact__p {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 10rem;
  @media (max-width: 800px) {
    padding: 0;
  }
}

.article__link-tel {
  text-align: center;
  grid-row: 4 / 5;
  color: $white;
  font-size: 2.3rem;
  padding-left: 9rem;
 
}
