.header__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;

  .header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  }
}

    .header__button--hover:hover {
      transition: 0.5s;
      background-color: rgba(0,0,0,0);
    }

