.header__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  @media (max-width: 1200px) {
    display: none;
  }

  .header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6rem;
  height: 6rem;
  animation: beat .45s infinite alternate;
  transform-origin: center;
  }
}
@keyframes beat{
	to { transform: scale(1.3); }
}
    .header__button--hover:hover {
      transition: 0.5s;
      color: rgba(0,0,0,0);
    }

