
.figure {
  display: flex;
  position: absolute;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
    .figure__img {
      display: inline-block;
      position: relative;
      width: 100vw; 
      max-height: 100%;
    }
}

.figure--slider {
  animation: 15s infinite normal slidein;
}

@keyframes slidein {
  0% {left: 0%;} 
  10% {left: 0%;}
  25% {left: -100vw;}
  40% {left: -100vw;}
  55% {left: -100vw;}
  70% {left: -200vw;}
  75% {left: -200vw;}
  80% {left: -200vw;}
  95% {left: -300vw;}
  100% {left: -300vw;}
}

.main__figure {
  height: 100%;
  max-height: 100%;
  width: 35%;
  max-width: 35%;
  @media (max-width: 1200px) {
    width: 45%;
    max-width: 45%;
  }
  @media (max-width: 1060px) {
    width: 100%;
    max-width: 100%;
  }
}

