.form__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row: 3 / 4;
  text-align: center;
}

.form__fieldset {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 5% 13% 13% 45% 10%;
}

.fieldset__legend {
}

.fieldset__label {
  font-size: 1.5rem;
}

.container__mail {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  .fieldset__input {
    position: relative;
    left: 1.7rem;
    height: 3rem;
    width: 22.5rem;
  }
  .fieldset__label {
    position: relative;
    left: -1.8rem;
  }
}

.container__name {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  .fieldset__input {
    position: relative;
    left: 1.3rem;
    height: 3rem;
    width: 22.5rem;
  }
  .fieldset__label {
    position: relative;
    left: -1.5rem;
  }
}

.container__message {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  .fieldset__textarea {
    position: relative;
    left: 0.4rem;
  }
  .fieldset__label {
    position: relative;
    top: -14.5rem;
    left: -0.5rem;
  }
}

.container__button {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  .fieldset__button {
    position: relative;
    left: 5rem;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 3rem 1rem;
    &:hover {
      background-color: $blue;
    }
  }
}


