.form__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row: 3 / 4;
  text-align: center;
  @media (max-width: 1060px) {
    display: flex;
    width: 100%;
  }
}

.form__fieldset {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 13% 13% 45%;
  @media (max-width: 1060px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.fieldset__legend {
}

.fieldset__label {
  font-size: 1.5rem;
}

.container__mail {
  grid-row: 2 / 3;
  @media (max-width: 1060px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 51%;
  }
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  @media (max-width: 690px) {
    flex-wrap: wrap;
  }
  .fieldset__input {
    position: relative;
    left: 1.7rem;
    height: 3rem;
    width: 22.5rem;
    @media (max-width: 1060px) {
      position: static;
    }
  }
  .fieldset__label {
    position: relative;
    left: -1.8rem;
    @media (max-width: 1060px) {
      position: static;
    }
  }
}

.container__name {
  grid-row: 3 / 4;
  @media (max-width: 1060px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 51%;
  }
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  @media (max-width: 690px) {
    flex-wrap: wrap;
  }
  .fieldset__input {
    position: relative;
    left: 1.3rem;
    height: 3rem;
    width: 22.5rem;
    @media (max-width: 1060px) {
      position: static;
    }
  }
  .fieldset__label {
    position: relative;
    left: -1.5rem;
    @media (max-width: 1060px) {
      position: static;
    }
  }
}

.container__message {
  grid-row: 4 / 5;
  @media (max-width: 1060px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 51%;
  }
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  @media (max-width: 690px) {
    flex-wrap: wrap;
  }
  .fieldset__textarea {
    position: relative;
    left: 0.4rem;
    @media (max-width: 1060px) {
      position: static;
      width: 22.5rem;
    }
    @media (max-width: 690px) {
      width: 100%;
    }
  }
  .fieldset__label {
    position: relative;
    top: -12.5rem;
    left: -1.5rem;
    @media (max-width: 1060px) {
      top: -7.5rem;
      left: 0;
    }
    @media (max-width: 690px) {
      top: 0;
    }
  }
}

.container__button {
  grid-row: 5 / 6;
  @media (max-width: 1060px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 51%;
  }
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  @media (max-width: 690px) {
    flex-wrap: wrap;
  }
  .fieldset__button {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 3rem 1rem;
    background-color: #1d1d1d;
    color: $white;
    @media (min-width: 1060px) {

    &:hover {
      background-color: $blue;
      color: $dark-blue;
      }
    }

      }
    }
    @media (max-width: 1060px) {
    padding: 1rem;
    margin: 0 1rem;
  }


