a {
  color: $dark-blue;

  &:hover {
  transition: 1s;
  color: $white;
  }
}
.header__h1 {
  position: relative;
  grid-columns: 1 / 2;
  background-color: rgba(0,0,0,0.0);
  font-size: 3rem;
  margin-left: 2.5rem;
  margin-top: 0.3rem;
}

.header__h1-contact {
  margin-top: 1rem;
}

