a {
  color: $dark-blue;

  &:hover {
  transition: 0.5s;
  color: $white;
  @media (max-width: 1200px) {
    color: $dark-blue;
    transition: 0;
  }
  }
}
.header__h1 {
  position: relative;
  grid-columns: 1 / 2;
  background-color: rgba(0,0,0,0.0);
  font-size: 3rem;
  margin-left: 2.5rem;
  margin-top: 0.3rem;
  @media (max-width: 1200px) {
    white-space: nowrap;
  }
}

.header__h1-contact {
  margin-top: 0.3rem;
}

